<fieldset>
    <span>
        <label for="id">ID</label>
        <input type="text" id="id" value="{{id}}" />
    </span>
    <span>
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" value="{{first_name}}" />
    </span>
    <span>
        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" value="{{last_name}}" />
    </span>
</fieldset>

<fieldset>
    <input type="button" id="hub_button" value="Test SignalR Hub" />
    <p id="hub_result"></p>
</fieldset>