@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>VsBackboneBoilerplate</title>
    @Styles.Render("~/bundle/css/")
</head>
<body>
    <script data-main="/app/main" src="/assets/js/libs/require.js"></script>
</body>
</html>
